<html>
<body>

<iframe width="100%" height="100%" src ="http://widget.mibbit.com/?settings=9b99e8ae90f4b219bb685d7837c0b9b0&server=irc.freenode.net&channel=arrfans&noServerNotices=true&noServerMotd=true&autoConnect=true">
  <p>Your browser does not support iframes.</p>
</iframe>

</body>
</html>
