<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Did Rahman win an Oscar?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="music, rahman, a.r.rahman, oscar" />
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <div id="wrap">
      <div id="header">
        not yet
      </div>
      <div id="daystogo">
        <%= @days %> days to go!
      </div>
      <div id="brought_to">
        Brought to you by Digital Codes
      </div>
      <div id="contact">
        <a href="mailto:anil@digitalcodes.org">anil@digitalcodes.org</a>
      </div>
    </div>
    <script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      _uacct = "UA-274286-7";
      urchinTracker();
    </script>
    <script src="http://errcount.com/ctr/804.js"></script>
  </body>
</html>
